* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --primary_beige: #fffaef;
  --grøn: #315353;
  --brun: #6f5050;
  --rød: #8d3232;
}

h1 {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 20px;
  padding: 50px 10px 30px 10px;
  margin: 0 auto;
  color: var(--grøn);
  text-align: center;
}

/* Grid Sektion */
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col img {
  width: 100%;
  max-width: 360px;
  height: 230px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.col_1 img {
  width: 100%;
  max-width: 360px;
  height: 230px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.col p {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 15px;
  line-height: 22px;
  color: var(--grøn);
  margin-bottom: 2rem;
  max-width: 38ch;
}
.col_1 p {
  font-family: "neue_haas_grotesk_display65Md";
  font-size: 15px;
  line-height: 22px;
  color: var(--grøn);
  margin-bottom: 2rem;
  max-width: 38ch;
}
.button {
  padding: 8px 15px 8px 15px;
  font-size: 10px;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #315353;
}
.img__logo {
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 200px;
  height: auto;
  align-items: center;
}

/* H2 Slogan */
.slogan {
  text-align: center;
  font-family: "neue_haas_grotesk_display65Md";
  line-height: 28px;
  font-size: 1.1rem;
  color: var(--grøn);
  margin-top: 2rem;
}

@media (min-width: 920px) {
  .grid_1-1 {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 1rem;
  }
  .hero-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4rem;
    margin-right: 7rem;
  }

  .col_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8rem;
    margin-right: 3rem;
  }

  .col img {
    width: 100%;
    max-width: 360px;
    height: 230px;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .col_1 img {
    width: 100%;
    max-width: 360px;
    height: 230px;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .col p {
    font-family: "neue_haas_grotesk_display65Md";
    font-size: 15px;
    line-height: 22px;
    color: var(--grøn);
    margin-bottom: 2rem;
    max-width: 38ch;
  }
  .col_1 p {
    font-family: "neue_haas_grotesk_display65Md";
    font-size: 15px;
    line-height: 22px;
    color: var(--grøn);
    margin-bottom: 2rem;
    max-width: 38ch;
  }
  .slogan {
    text-align: center;
    font-family: "neue_haas_grotesk_display65Md";
    line-height: 33px;
    font-size: 1.4rem;
    color: var(--grøn);
    margin-top: 2rem;
  }

  .img__logo {
    display: flex;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 400px;
    height: auto;
    margin-left: 32rem;
  }

  h1 {
    font-family: "neue_haas_grotesk_display65Md";
    font-size: 24px;
    padding: 70px 20px 40px 20px;
    margin: 0 auto;
    color: var(--grøn);
    text-align: center;
  }
}
