* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1199px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  .gone {
    display: none;
  }

  .img__logo {
    display: flex;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 200px;
    height: auto;
    margin-left: 10rem;
  }
}

@media (min-width: 1200px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }

  .img__logo {
    display: flex;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 400px;
    height: auto;
    margin-left: 37rem;
  }
}

.uden_header {
  background-color: #6f5050;
}

main {
  background-color: #6f5050;
}
