* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1199px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
