* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* html variabler */
html {
  --primary_beige: #fffaef;
  --grøn: #315353;
  --brun: #6f5050;
  --rød: #8d3232;

  --space_xs: ;
  --space_s: ;
  --space_m: ;
  --space_l: ;
  --space_xl: ;
}

/* body og main */
body {
  background-color: var(--primary_beige);
}

main {
  max-width: 1300px;
  margin: 0 auto;
  background-color: var(--primary_beige);
}

/* bold */
@font-face {
  font-family: "neue_haas_grotesk_display75Bd";
  src: url(../fonte/neue/neuehaasdisplay-bold-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* light  */

@font-face {
  font-family: "neue_haas_grotesk_display45Lt";
  src: url(../fonte/neue/neuehaasdisplay-light-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* medium */

@font-face {
  font-family: "neue_haas_grotesk_display65Md";
  src: url(../fonte/neue/neuehaasdisplay-mediu-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-mediu-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* thin */

@font-face {
  font-family: "neue_haas_grotesk_display35Th";
  src: url(../fonte/neue/neuehaasdisplay-thin-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-thin-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* black */

@font-face {
  font-family: "neue_haas_grotesk_displa95Blk";
  src: url(../fonte/neue/neuehaasdisplay-black-webfont.woff2) format("woff2"), url(../fonte/neue/neuehaasdisplay-black-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* knapper */
.button {
  background-color: transparent;
  display: flex;
  width: fit-content;
  padding: 7px 25px 7px 25px;
  border-radius: 35px;
  border: 1px solid var(--grøn);
  align-items: center;
  margin: 0 auto;
  font-family: "neue_haas_grotesk_display45Lt";
  font-size: 16px;
}

.button:hover {
  font-family: "neue_haas_grotesk_display65Md";
}

.button a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: var(--grøn);
  margin: 0 auto;
}

/* Burger menu */
.menu {
  display: none;
}

.burger {
  display: block;
  margin: 1em;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  background-color: rgb(255, 69, 49);
  position: absolute;
  top: 94px;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav.active .menu li {
  margin: 5px 20px;
}

nav.active .menu a {
  font-size: 18px;
  color: rgb(248, 242, 234);
}

.logo {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-top: 1rem;
}

.img_logo {
  width: 120px;
  height: auto;
}

.grid_1-1-1_foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.p_foot-1 {
  color: black;
  line-height: 18px;
  font-size: 10px;
}

.p_foot-2 {
  color: black;
  line-height: 18px;
  text-align: center;
  font-size: 8px;
}

.p_foot-3 {
  color: black;
  text-align: end;
  line-height: 20px;
  font-size: 10px;
  display: grid;
  margin-right: 1.5rem;
}

@media (min-width: 920px) {
  /* header og nav */

  header {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary_beige);
    border-radius: 35px;
  }

  .menu {
    display: flex;
    list-style: none;
    font-size: 17px;
    margin: 0;
    padding: 0;
  }

  .menu a {
    display: block;
    padding: 10px 25px;
    color: rgb(0, 0, 0);
    font-family: "neue_haas_grotesk_display65Md";
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
  }

  .menu a:hover {
    transform: scale(1.03);
  }

  ul {
    list-style: none;
    background-color: var(--primary_beige);
  }
  ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
  }

  ul li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: start;
    font-size: 17px;
  }

  ul li ul.dropdown li {
    display: block;
  }

  ul li ul.dropdown li a {
    font-size: 14px;
    text-align: start;
  }

  ul li ul.dropdown {
    width: 200px;
    background-color: #fcf5e6;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 0;
    margin: 0;
  }

  ul li:hover ul.dropdown {
    display: block;
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #333333;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }

  .burger {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 1rem;
  }

  .img_logo {
    width: 250px;
    height: auto;
  }

  .grid_1-1-1_foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 7rem;
    margin-bottom: 3rem;
  }

  .p_foot-1 {
    color: black;
    margin-left: 6.5rem;
    line-height: 28px;
    font-size: 16px;
  }

  .p_foot-2 {
    display: block;
    color: black;
    text-align: center;
    margin-top: 2rem;
    line-height: 28px;
    font-size: 16px;
  }

  .p_foot-3 {
    color: black;
    text-align: end;
    margin-right: 6.5rem;
    line-height: 28px;
    font-size: 16px;
  }
}
