* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  --primary_beige: #fffaef;
  --grøn: #315353;
  --brun: #6f5050;
  --rød: #8d3232;

  --space_xs: ;
  --space_s: ;
  --space_m: ;
  --space_l: ;
  --space_xl: ;
}

/* bold */
@font-face {
  font-family: "neue_haas_grotesk_display75Bd";
  src: url(fonte/neue/neuehaasdisplay-bold-webfont.woff2) format("woff2"), url(fonte/neue/neuehaasdisplay-bold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* light  */

@font-face {
  font-family: "neue_haas_grotesk_display45Lt";
  src: url(fonte/neue/neuehaasdisplay-light-webfont.woff2) format("woff2"), url(fonte/neue/neuehaasdisplay-light-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* medium */

@font-face {
  font-family: "neue_haas_grotesk_display65Md";
  src: url(fonte/neue/neuehaasdisplay-mediu-webfont.woff2) format("woff2"), url(fonte/neue/neuehaasdisplay-mediu-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* thin */

@font-face {
  font-family: "neue_haas_grotesk_display35Th";
  src: url(fonte/neue/neuehaasdisplay-thin-webfont.woff2) format("woff2"), url(fonte/neue/neuehaasdisplay-thin-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/* black */

@font-face {
  font-family: "neue_haas_grotesk_displa95Blk";
  src: url(fonte/neue/neuehaasdisplay-black-webfont.woff2) format("woff2"), url(fonte/neue/neuehaasdisplay-black-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
